<hr>
<mat-card>
    <mat-card-title>Новая задача</mat-card-title>
    <mat-divider></mat-divider>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <mat-card-content>
            
                <mat-form-field appearance="outline">
                    <mat-label>Задача</mat-label>
                    <input
                        matInput
                        formControlName="task_text"
                        placeholder="Название задачи">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Категория</mat-label>
                    <mat-select formControlName="category_name">
                        <mat-option
                            *ngFor="let category of data.categories"
                            [value]="category.title">
                            {{category.title}}
                        </mat-option>
                        <mat-option value='{{addNewCategoryText}}'>
                            Новая категория
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="displayAddCategoryField">
                    <input
                        matInput
                        formControlName="category_name"
                        placeholder="Категория">
                </mat-form-field>

                

        </mat-card-content>
        <mat-card-actions>
            <button mat-button mat-dialog-close>Отмена</button>
            <button mat-button color="primary" type="submit">Ок</button>
        </mat-card-actions>
    </form>
</mat-card>
